/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Toàn trang */
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

/* Header */
header {
  background: #1e1e1e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
}
header .header-right a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}
header input {
  border: 1px solid #ccc;
  padding: 4px 8px;
}


/* Nội dung */
main {
  flex: 1;
}

/* Toolbar */
.toolbar {
  display: flex;
  justify-content: space-between;
  background: #fffdfd;
  padding: 10px;
  border: 1px solid #161010;
  margin-top: 10px;
}

/* Bảng */
.table {
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}

.table th, .table td {
  vertical-align: middle;
  text-align: center;
  padding: 8px;

  /* Bỏ kẻ dọc */
  border-left: none;
  border-right: none;

  /* Giữ kẻ ngang nếu có */
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* Header của bảng */
.table thead th {
  background-color: #000;   /* nền đen */
  color: #fff;              /* chữ trắng */
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  position: relative;
}

/* Icon sắp xếp ˄˅ */
.sort-icons {
  font-size: 10px;
  margin-left: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
}

/* Cột xóa (dấu X) */
.delete-col {
  font-weight: bold;
  color: #000;
  cursor: pointer;
  width: 40px;
  font-size: 18px;
}

/* Hành động */
.action-icons {
  display: flex;
  justify-content: center;
  gap: 2px;
}

/* Nút hành động */
.btn-action {
  border: none;
  color: #000;
  padding: 4px 10px;
  font-size: 14px;
  cursor: pointer;
}

.btn-action.view {
  background: #4da3ff; /* xanh */
}

.btn-action.edit {
  background: #ffd54f; /* vàng */
}

.btn-action.delete {
  background: #ff6b6b; /* đỏ */
}

.btn-action i {
  font-size: 14px;
}
/* Làm modal giống ảnh */
.custom-modal .modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.custom-modal .modal-footer {
  background: #f1f4f7;
  border-top: none;
}

.custom-modal .form-label {
  font-weight: 500;
  color: #333;
}

.custom-modal .btn-light {
  border: 1px solid #ccc;
}


/* Nút xóa nhiều */
.delete-selected {
  background: #dc3545;
  color: #fff;
  padding: 6px 12px;
  border: none;
  margin-top: 10px;
}

/* Footer */
footer {
  background: #003366;
  color: #fff;
  padding: 20px 40px;
  text-align: left; /* Căn trái */
  line-height: 1.6;
}
